<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreDataXcode7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A1070B91B981B2E0011776C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A1070D01B981B2F0011776C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A1070DB1B981B2F0011776C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
